<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <!-- <h3 class="masthead-brand">KC</h3> -->
      <nav class="nav nav-masthead justify-content-center">
      </nav>
    </div>
  </header>


  <h1 class="kc-welcome"> Welcome To <br/> <span class="kc-span"> KICKSCOLLECTIVE </span> </h1>
  <main role="main" class="inner cover">
    <p class="lead">The Sneaker Community for Sneakerheads</p>
    <p class="lead">
    <%= portal_button %>
    </p>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="inner">
    </div>
  </footer>
</div>
