<div class="footer-section">
  <div class="row">
    <div class="col-md-6 footer-col">
    </div>
    <div class="col-md-6 footer-col">
      <span class="copyright">&copy Kicks<span class="red-collective">Collective</span> Est. 2018</span>
      <div class="social-media">
        <%= image_tag 'instagram.png', class:'ig-logo' %>
        <%= image_tag 'facebook.png' %>
      </div>
    </div>
  </div>
</div>
