<nav class="navbar navbar-dark my-navbar">
  <a class="navbar-brand" href="/">K<span class="red-collective-header">C</a>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= login_helper %>
    </div>
</nav>
