@import 'bootstrap';

// Footer styling
.footer-section {
  border-top: 5px solid red;
  height: 300px;
  width: 100%;
  background-color: #000;
  color: #fff;

  .copyright {
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
  }
}

.footer-col {
  text-align: center;
  padding-top: 100px;
}

.social-media {
  img {
    width: 50px;
    height: 50px;
  }
}

.site-links {
  li {
    list-style: none;
  }
}

.ig-logo {
  width: 30px!important;
  height: 30px!important;
}

.red-collective {
  color: red;
  font-size: 40px;
  font-family: 'Anton', sans-serif;
}
