<!-- <%= session_greeting %> -->
<div class="container-fluid fluid-header">
  <span class="section-text"> marketplace </span>
</div>
<div class="container listings-container">
  <div class="row">
    <%= render 'shoes' %>
  </div>
</div>
